

h1{
  color: white;
  font-family: 'Ultra', serif;
  font-size: 400px;
}

body{
  border: 2px solid transparent;
  padding: 10px;
  background: url('web material/me.png');
  background-repeat: no-repeat;
  background-position:fixed ;
  background-size:cover;
}

h2{
  font-style: bold;
  font-size: 80px;
  color: white;
  font-family: 'Ultra', serif;
  padding: 0;
}
a {
  text-decoration:none;
}

p{
  font-size: 10px;
  text-align: right;
}

@keyframes mymove1 {

    0%   {top:70%; left: 40%; }
    25% {top: 30%; left: 90%;}
    50%  {top: 80%; left: 70%;}
    80%  {top: 90%; left: 60%;}
    100%   {top: 70%; left: 40%; }

}
@keyframes mymove2 {

    0%   {top: 90%; left: 85%; }
    25% {top: 70%; left: 20%;}
    50%  {top: 45%; left: 85%;}
    80%  {top: 15%; left: 75%;}
    100%   {top: 90%; left: 85%; }

}
/* @keyframes mymove3 {

  0%   {top: 130px; left: 200px; }
  20% {top: 1200px; left: 600px;}
  30%  {top: 840px; left: 1500px;}
  50%  {top: 450px; left: 460px;}
  60%   {top: 130px; left: 200px; }
  0%   {top: 130px; left: 200px; }

} */
@keyframes mymove4 {

    0%   {top: 45%; left: 5%; }
    25% {top: 50%; left: 10%;}
    50%  {top: 80%; left: 25%;}
    80%  {top: 15%; left: 15%;}
    100%   {top: 45%; left: 5%; }

}
@keyframes mymove5 {

  0%   {top: 75%; left: 75%; }
  25% {top: 70%; left: 90%;}
  50%  {top: 90%; left: 85%;}
  80%  {top: 40%; left: 65%;}
  100%   {top: 75%; left: 75%; }

}
