  body{
    background-color: black;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-family: 'Press Start 2P', cursive;
  }

  a{
    color: yellow;
    text-decoration:none;
  }
