
h1{
  color: white;
  font-family: 'Ultra', serif;
  font-size: 400px;
}

body{
  border: 2px solid transparent;
  padding: 10px;
  background: url('web material/me.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h2{
  font-style: bold;
  font-size: 80px;
  color: white;
  font-family: 'Ultra', serif;
  padding: 0;
}
a {
  text-decoration:none;
}

p{
  font-size: 10px;
  text-align: right;
}

@keyframes mymove1 {

    0%   {top: 850px; left: 600px; }
    25% {top: 580px; left: 1300px;}
    50%  {top: 1000px; left: 1600px;}
    80%  {top: 1300px; left: 700px;}
    100%   {top: 850px; left: 600px; }

}
@keyframes mymove2 {

    0%   {top: 1300px; left: 1020px; }
    25% {top: 980px; left: 280px;}
    50%  {top: 600px; left: 1300px;}
    80%  {top: 100px; left: 900px;}
    100%   {top: 1300px; left: 1020px; }

}
/* @keyframes mymove3 {

  0%   {top: 130px; left: 200px; }
  20% {top: 1200px; left: 600px;}
  30%  {top: 840px; left: 1500px;}
  50%  {top: 450px; left: 460px;}
  60%   {top: 130px; left: 200px; }
  0%   {top: 130px; left: 200px; }

} */
@keyframes mymove4 {

    0%   {top: 650px; left: 100px; }
    25% {top: 760px; left: 100px;}
    50%  {top: 1300px; left: 200px;}
    80%  {top: 200px; left: 200px;}
    100%   {top: 650px; left: 100px; }

}
@keyframes mymove5 {

  0%   {top: 950px; left: 800px; }
  25% {top: 800px; left: 1300px;}
  50%  {top: 1300px; left: 1000px;}
  80%  {top: 650px; left: 800px;}
  100%   {top: 950px; left: 800px; }

}
